{% extends 'todo/shared.html'%}
{% block content %}
<form action="{% url 'todo:addtask' %}" method="GET">
        <div   class="edittool" >
            <label for="">ID:</label>
            <input  type="number" name='id' />
            <label for="">name:</label>
            <input name='name' type="text" />
            <label for="">place:</label>
            <input name='place' type="text"  />
            <label for="">duration:</label>
            <input name='duration' type="number"  />
            <label for="">Priority:</label>
            <input name='Priority' type="number"  /> 
            <button type="submit">save</button>
        </div>
</form>

{% endblock %}