{% extends 'genaric/shared.html'%}
{% block content %}
<form action="{% url 'todo:save' %}" method="GET">
        <div   class="edittool" >
            <input style="display: none;" type="number" value='{{ task.id }}'name='id' />
            <label for="">name:</label>
            <input name='name' type="text" value='{{ task.name }}'/>
            <label for="">place:</label>
            <input name='place' type="text" value="{{task.place}}" />
            <label for="">duration:</label>
            <input name='duration' type="number" value="{{task.duration}}" />
            <label for="">Priority:</label>
            <input name='Priority' type="number"  value="{{task.Priority}}"/> 
            <button type="submit">save</button>
        </div>
</form>

{% endblock %}